.limit-height {
  .ccm-image-slider .rslides {
    picture {
      display: flex;
      justify-content: center;
    }
    img {
      height: 40vh;
      width: auto;
      object-fit: cover;
    }
  }
  
  .ccm-image-slider-inner {
    .rslides_tabs {
      display: flex;
      justify-content: center;
    }
  }
}
